/* INICIO SOBRE PROJETO */

body {
    background-color: #0000;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    font-family: "Grenze Gotisch", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 1px 5px;
    z-index: 10; 
    width: 100%;
}


.nav-itens {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-itens li {
    margin-right: 30px; /* Espaço entre os itens */
}

.nav-itens li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-itens li a:hover {
    text-decoration: underline; /* Exemplo de efeito hover */
}

.btn-nav a {
    margin-left: 10px; /* Distância entre os botões de login e cadastro */
}

.logo {
    display: flex;
    height: 70px;
}
.login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #b4b2b293;
    font-family: "Grenze Gotisch", serif;
    cursor: pointer;
}

.cadastro {
    font-family: "Grenze Gotisch", serif;
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #b4b2b293;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover,
.login:hover {
    color: rgb(104, 104, 104);
    background-color: whitesmoke;
    transition: 1s background;
}

/* FIM DA NAVBAR*/

/* INICIO DO BANNER INICIAL*/
.banner-fundo {
    background-color: white;
    position: relative;
    display: flex;
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #9b4a4a;
    overflow: hidden; /* Esconde o que ultrapassar os limites */
    width: 100%;
}

.banner {
    display: flex;
    width: 100%; /* Garante que a largura do contêiner seja o dobro da largura da tela */
    animation: move-carousel 10s linear infinite; /* Animação contínua */
}

.banner img {
    width: 100%; /* Cada imagem ocupa 50% da largura da tela */
}

@keyframes move-carousel {
    0% {
        transform: translateX(0); /* Começa com a primeira imagem à vista */
    }
    49% {
        transform: translateX(-50%); /* A primeira imagem começa a sair da tela */
    }
    50% {
        transform: translateX(-50%); /* Nesse ponto, a segunda imagem aparece */
    }
    100% {
        transform: translateX(-100%); /* A primeira imagem já saiu e a segunda já entrou completamente */
    }
}
/* FIM DO BANNER INICIAL*/

/* INICIO SEGUNDO BANNER RELEVANCIA RAP NACIONAL*/
.banner-container {
    align-items: center;
    width: 60%;
    border-end-end-radius: 120px;
    border-end-start-radius: 120px;
}

.banner-container p {
    margin: 5px 5px;
    color: firebrick;
    font-family:'Courier New', Courier, monospace;
    font-size: 1px;
    text-align: left;

}

.fundo-conteudo {
    background-color: #202020;
    display: flex;
    flex-direction: row;
    height: 900px;
    padding: 90px;
    width: 100%;
    font-size: medium;
    border-end-end-radius: 120px;
    border-end-start-radius: 120px;

}

.container-fundo2 {
    background-color: whitesmoke;
}

.conteudo {
    justify-content: space-between;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 40px;
    width: 100%;
}

.conteudo-container {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: medium;
    background-color: #202020;
    border: whitesmoke;
    display: flex;
    color: white;
    flex-direction: row;
    padding: 105px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 35px;
}

.texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 45px;
    padding: 20px;
    font-size: 20;
}

.texto1 .titulo-contexto {
    font-size: 40px;
    text-align: center;

}

.texto1 p {
    font-size: 18px;
    text-align: center;
}

/* FIMMM SEGUNDO BANNER RELEVANCIA RAP NACIONAL*/

/*INICIO SAIBA MAIS SOBRE OS ARTISTAS*/
.container-fundo3 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 600px;
    padding: 5px;
    width: 100%;
    font-size: medium;
    border-end-end-radius: 120px;
    border-end-start-radius: 120px;
}

.about-us {
    margin-top: 100px;
    width: 100%;
}

.container-art {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    padding-top: 15px;
}

.about-section {
    width: 45%;
}

.text-about,
.image-about {
    text-align: center;
}

.text-about {
    font-family: 'Poppins', sans-serif;
}

.img-about>img {
    width: 40rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-about {
    color: rgb(83, 83, 83);
}

.text-about>h1 {
    color: #202020;
}

.about-text1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* FIM SAIBA MAIS SOBRE OS ARTISTAS*/

/* COPIEI O DE CIMA E PINTEI DE BRANCO - G */
.conteudoS {
    background-color: #000000;
    margin: auto;
    padding: auto;
}

/* containerS DE SERVIÇO - SPACEBETWEEN FAZ EU CONSEGUI MEXER O TEXTO N SEI PQ - G */
.containerS {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}

/* FIMMMM TELA INICIAL HOME */

/*INICIO SOBRE RACIONAIS*/
.banner-fundoR {
    position: relative;
    display: flex;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 550px;
    color: #9b4a4a;
}


.bannerR img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    border-radius: 100px;
}

.bannerR {
    background-color: #202020;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #ffffff;
    /* padding-top: 20px; */
    border-end-end-radius: 100px;
    border-end-start-radius: 100px;
}
.banner-containerR {
    align-items: center;
    width: 60%;
    border-end-end-radius: 120px;
    border-end-start-radius: 120px;
}

.banner-containerR p {
    margin: 5px 5px;
    color: firebrick;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: left;

}
/* Container do Carrossel */
.banner-fundoR2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #202020; /* Ajuste conforme sua necessidade */
}

/* Container geral para os cards */
.banner-integrantes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020; /* Ajuste conforme necessário */
    height: 400px; /* Aumente esse valor conforme necessário */
    width: 100%;
}

/* Container de todos os cards */
.cards-container {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os cards */
    gap: 10px; /* Espaço entre os cards */
}

/* Estilo individual dos cards */
.card-manos {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

/* Imagem dentro dos cards */
.card-manos img {
    width: 100%; /* A imagem ocupa toda a largura do card */
    height: auto; /* Ajusta a altura da imagem para manter a proporção */
    border-radius: 8px;
}

/* Texto abaixo da imagem */
.card-manos p {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Efeito de hover nos cards */
.card-manos:hover {
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.fundo-racionais {
    background-color: white;
    position: relative;
    display: flex;
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 550px;
    color: #9b4a4a;
}

.racionais {
    height: 600PX;
    width: 100%;
    padding: 85PX;
    background-color: #202020;
}

.racionais-container {
    background-image: url();
    display: flex;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: #000000;
    border-end-end-radius: 100px;
    border-end-start-radius: 100px;
    justify-content: flex-start;
}

.texto-rac {
    background-color: #202020;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: medium;
    justify-content: flex-start;
}

.texto-rac h1 {
    background-color: #202020;
    color: #f3ce5b;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-style: medium;
    display: flex;
    align-items: center;
}


#discos {
    background-color: #f0f0f0;
    padding: 20px;
}

#discos h1 {
    text-align: center;
    padding-top: 30px;
    font-family: "Grenze Gotisch", serif;
    font-size: 32px;

}

.containerS {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.card {
    background-color: #f0f0f0; 
    border: 5px solid #202020; 
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textoS {
    flex: 1;
    margin-right: 20px;
}

.album1 img {
    width: 200px;
    border-radius: 8px; 
}


/* icones do spotify na parte dos albuns*/
.spotify-link {
    color: #000; /* Cor preta */
    font-size: 15px; /* Tamanho do ícone */
    text-decoration: none;
}

.spotify-text {
    color: #000; /* Cor preta */
    margin-top: 8px; /* Espaçamento entre o ícone e o texto */
    font-size: 16px; /* Tamanho da fonte */
}

/* FIMMM SOBRE RACIONAIS*/


/* INICIO FOOTER */
.footer {
    background-color: #2c2f33;
    color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    border-top: 4px solid #dfe2eb;
}

.footer .container {
    max-width: 1000px;
    margin: 0 auto;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #cc383d;
}

.redes-footer {
    margin-top: 15px;
    font-size: 1rem;
}

.redes-footer p, .redes-footer .h4 {
    margin: 5px 0;
}

.redes-footer a {
    color: #cc383d;
    text-decoration: none;
    transition: color 0.3s;
}

.redes-footer a:hover {
    color: #f5f5f5;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #cc383d;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f5f5f5;
}

.copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #ccc;
}


/* LOGIN E CADASTRO */
::selection {
    background-color: #808080;
}

.container-lc {
    background-image: url(/public/assets/imgs/brownesabotage.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

/* .container-lc {
    background-image: url(/public/assets/imgs/brownesabotage.jpg);
    margin: 30px auto;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    
} */

.conteudo-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cadastro {
    width: 500px;
    height: 650px;
    background-image: linear-gradient(to bottom, #424242, #212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.form-login {
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom, #424242, #212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.title {
    color: #fefbf6;
    margin: 3rem 0;
    font-size: 2rem;
}

.input {
    margin: 8px 0;
    padding: 16px 8px;
    width: 320px;
    background-color: inherit;
    color: #fefbf6;
    border: none;
    outline: none;
    border-bottom: 1px solid #fefbf6;
    transition: all 400ms;
}

.input:hover {
    background-color: #424242;
    border: none;
    border-radius: 8px;
}

.btn {
    height: 45px;
    width: 120px;
    margin-top: 40px;
    background-color: #fefbf6;
    border-radius: 7px;
    border: none;
    font-size: 19px;
    transition: all 400ms;
    cursor: pointer;
    box-shadow:
        0 0 10px antiquewhite,
        0 0 10px antiquewhite;
}

.btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
}

.message {
    color: antiquewhite;
}

@media (max-width: 768px) {
    .container-lc {
        flex-direction: column;
    }
}
/* FIMM ESTILO LOGIN E CADASTRO*/


/* retirar navbar da tela de login e cadastro
body.login-page .navbar,
body.cadastro_page .navbar {
    display: none;
} */

/* MENSAGENS DE ERRO */
.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color:#424242b9;
    color: whitesmoke;
    width: 330px;
    position: fixed;
    border-radius: 4px;
    border: #fd5656 3px solid;
    padding: 10px;
    margin-right: 10%;
    align-items: center;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

#divError {
    color: #ffffff;
    text-shadow: 3px 3px 1px rgb(255, 0, 0);
}
#divErrorLogin {
    color: #ffffff;
    text-shadow: 3px 3px 1px rgb(255, 0, 0);
}
/* FIMM MENSAGENS DE ERRO */